body{
	margin: 0;
	padding: 0;
	background: url(disp.jpg);
	background-size: cover;
	background-position: center;
	font-family: sans-serif;
}
	.loginbox{
		
		width: 300px;
		height:  400px;
		background:grey;
		color:grey;
		top:50%;
		left:50%;
		position:absolute;
		transform:translate(-30%,-40%);
		box-sizing:border-box;
		padding:70px 30px;
		border-radius:20px;
	}
	
	.man{
		width: 100px;
		height: 100px;
		border-radius:50%;
		position:absolute;
		transform:translate(70%,-120%);
		top:50px;
	
		left: calc(50% -20px);
	}
	
	h1{
		margin:0;
		padding:0 0 20px;
		text-align: center;
		font-size: 22px;
	}
	.loginbox p{
		margin: 0;
		padding:0;
		font-weight: bold;
		font-family:Arial;
		color:white;
	}
	
	.loginbox input{
		width: 100%;
		margin-bottom: 20px;
	}
	
	.loginbox input[type="text"], input[type="password"]
	{
		border: none;
		border-bottom: 1px solid #fff;
		background: transparent;
		outline: none;
		height: 40px;
		color: #fff;
		font-size: 16px;
	}
	
	.loginbox input[type="submit"]{
		border: none;
		outline: none;
			background: #fb2525;
		outline: none;
		height: 40px;
		color: #fff;
		font-size: 18px;
		border-radius: 20px;
	}
	.loginbox input[type="submit"]:hover
	{
cursor: pointer;
background: #ffc107;
color:#000;
	}
.loginbox a{

text-decoration:none;
font-size: 12px;
line-height:20px;
color: black;
}

.login a:hover{
	color: #ffc107;
}